<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.mapper.BrowHistoryMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.domain.BrowHistory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="goodId" jdbcType="INTEGER" property="goodid" />
    <result column="browTime" jdbcType="TIMESTAMP" property="browtime" />
  </resultMap>

  <insert id="insert" parameterType="com.qfedu.domain.BrowHistory">
    insert into t_browhistory (id, uid, goodId, 
      browTime)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{goodid,jdbcType=INTEGER}, 
      #{browtime,jdbcType=TIMESTAMP})
  </insert>

  <select id="selectAllBH" parameterType="map" resultType="Goods" >
    select * from t_goods g
    where g.gradeId in
    (select g.gradeId from t_user u
    INNER JOIN t_browhistory bh
    on u.id=bh.uid
    INNER JOIN t_goods g
    on bh.goodId=g.id
    where u.username=#{username})
    limit #{page}, #{size};
  </select>

  <select id="countToBH" parameterType="string" resultType="int">
    select COUNT(1) from t_goods g
where g.gradeId in
(select g.gradeId from t_user u
INNER JOIN t_browhistory bh
on u.id=bh.uid
INNER JOIN t_goods g
on bh.goodId=g.id
where u.username=#{username})
  </select>

</mapper>