<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.mapper.cartMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.domain.cart">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="goodId" jdbcType="INTEGER" property="goodid" />
    <result column="num" jdbcType="INTEGER" property="num" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, goodId, num
  </sql>
  <select id="selectCartByUid" parameterType="map" resultType="cart">
    SELECT * FROM  t_cart WHERE uid=#{uid} ORDER BY createdate DESC LIMIT #{index},#{size}
  </select>

  <select id="count" parameterType="int" resultType="int">
    select count(1) from t_cart where uid=#{uid}
  </select>

  <delete id="deleteByUidAndGoodId"  parameterType="cart">
      delete from t_cart where uid=#{uid} and goodId=#{goodId}
  </delete>

  <select id="selectByUidAndGoodId" parameterType="cart" resultType="cart">
    select * from t_cart where uid=#{uid} and goodId=#{goodid}
  </select>
  <update id="updateTime" parameterType="cart">
    update t_cart set createdate=now() where uid=#{uid} and goodId=#{goodId}
  </update>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_cart
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cart">
    insert into  t_cart(uid,goodId,num,createdate) values(#{uid},#{goodid},1,now());
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.domain.cart">
    insert into t_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="goodid != null">
        goodId,
      </if>
      <if test="num != null">
        num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="goodid != null">
        #{goodid,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.domain.cart">
    update t_cart
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="goodid != null">
        goodId = #{goodid,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.domain.cart">
    update t_cart
    set uid = #{uid,jdbcType=INTEGER},
      goodId = #{goodid,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>