<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.mapper.CityMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.domain.City">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
  </resultMap>

  <select id="selectAllGoodsByCity" parameterType="map" resultType="Goods">
  SELECT g.* from t_city c
INNER JOIN t_user u
on c.id=u.cid
INNER JOIN t_goods g
on u.id=g.uid
where c.name=#{name} limit #{page}, #{size}
  </select>

  <select id="countToCityGoods" parameterType="string" resultType="int">
    SELECT count(1) from t_city c
INNER JOIN t_user u
on c.id=u.cid
INNER JOIN t_goods g
on u.id=g.uid
where c.name=#{name}
  </select>
</mapper>