<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.mapper.GiveThumbMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.domain.GiveThumb">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="goodId" jdbcType="INTEGER" property="goodid" />
    <result column="thumbnum" jdbcType="INTEGER" property="thumbnum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, goodId, thumbnum
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_givethumb
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_givethumb
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.domain.GiveThumb">
    insert into t_givethumb (id, uid, goodId, 
      thumbnum)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{goodid,jdbcType=INTEGER}, 
      #{thumbnum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.domain.GiveThumb">
    insert into t_givethumb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="goodid != null">
        goodId,
      </if>
      <if test="thumbnum != null">
        thumbnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="goodid != null">
        #{goodid,jdbcType=INTEGER},
      </if>
      <if test="thumbnum != null">
        #{thumbnum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.domain.GiveThumb">
    update t_givethumb
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="goodid != null">
        goodId = #{goodid,jdbcType=INTEGER},
      </if>
      <if test="thumbnum != null">
        thumbnum = #{thumbnum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.domain.GiveThumb">
    update t_givethumb
    set uid = #{uid,jdbcType=INTEGER},
      goodId = #{goodid,jdbcType=INTEGER},
      thumbnum = #{thumbnum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>