<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.mapper.GradeMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.domain.Grade">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="parentId" jdbcType="INTEGER" property="parentid" />
  </resultMap>

  <select id="grade"  resultType="com.qfedu.domain.Grade">

    select * from t_grade
    where parentId=-1;

  </select>

  <select id="twograde" parameterType="int"  resultType="com.qfedu.domain.Grade">

    select b.* from t_grade a
    inner join t_grade b
     on a.id=b.parentid
    where a.parentId=-1
    and a.id=#{id};

  </select>

  <select id="threegrade"   resultType="com.qfedu.domain.Grade">

     select c.* from t_grade a
    inner join t_grade b
     on a.id=b.parentid
     inner join t_grade c
     on b.id=c.parentid
     where a.parentid=-1
     and b.id=#{id};
  </select>


</mapper>